*{
    padding: 0;
    margin: 0;
}

.texto{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;

}

.fuente{
    font-family: 'Quicksand', sans-serif;
}

.negrita{
    font-weight: bolder;
}

.centro{
    text-align: center;
}